// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: rgba(60, 17, 15, 0.90);
$yellow: #FFC65A;
$orange: rgba(60, 17, 15, 0.94);
$green: #1EDD88;
$gray: #0E0000;

$black: rgba(0, 0, 0, 0.81);
$cream: rgba(251, 247, 228, 0.3);
$dark-cream: rgba(251, 247, 228, 0.56);
$brown: rgba(78, 56, 56, 0.87);
$dark-brown: rgba(60, 17, 15, 0.94);
$light-brown: rgba(78, 56, 56, 0.73);
$light-gray: rgba(196, 196, 196, 1);
$brava-text: #998D85;
