// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: rgba(78, 56, 56, 0.87);
$green: #1EDD88;
$gray: #0E0000;

$black: rgba(0, 0, 0, 0.81);
$cream: rgba(251, 247, 228, 0.3);
$dark-cream: rgba(251, 247, 228, 0.56);
$brown: rgba(78, 56, 56, 0.87);
$dark-brown: rgba(78, 56, 56, 1);
$light-brown: rgba(78, 56, 56, 0.73);
$light-gray: rgba(196, 196, 196, 1);
