// Specific CSS for your home-page

html {
  font-size: min(max(1rem, 4vw), 17px);
}

#fade_message {
background-color: rgba(252,252,228,0.3) !important;

}
#home .container {
   background-color: rgba(252,252,228,0.3) !important;
}

body {
   background-color: rgba(252,252,228,0.3);
}

.body h2 {
  color: $brown;
}
.hidden {
 display: none;
}


#home h2 {
  color: $brava-text;
  font-family: 'Nunito Sans';
  font-weight: 500;
  font-size: 30px;
}

#about .secondary-text {
  font-family: 'Nunito Sans';
  font-weight: 300;
  font-size: 16px;
}

#banner img {
  opacity: 0.8;
}


#banner h3 {
  font-size: 1.4rem;
  color: $brown;
}

#banner .main-text {
  font-family: 'Nunito Sans';
  font-weight: 300;

}

#banner .secondary-text {
  font-family: 'Nunito Sans';
  font-weight: 300;
  font-size: 18px;
}

#coffee-header h2 {
  font-family: 'Nunito Sans';
  font-weight: 500;
  font-size: 30px;


}

#coffee .link-caf {
  padding-right: 40px;
}

#coffee .color-card  {
  letter-spacing: 0.6rem;
  color: rgba(251, 247, 228, 0.6);
}

#coffee .button-card  {
  letter-spacing: 0.2rem;
  color: rgba(251, 247, 228, 0.6);
  padding-right: 10px;
}

#coffee .box-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin-right: 2rem;

}


.box-card .link-caf-hidden{
    visibility: hidden
}

#coffee .btn  {
  background-color: rgba(251, 247, 228, 0.3);
  border: 1px solid rgba(252,252,228,1);
}

#coffee .btn:hover  {
  border: 1px solid rgba(252,252,228,0.6);
}

#coffee .btn.cof-btn:hover{

    font-weight: 600;
    color:rgba(252,252,228,0.6);

}

// #how-it-works .how-it-works-section {
//   background-color: $dark-cream;
// }

// #how-it-works .brew_title h2 {
//   font-weight: 400;
//   font-size: 32;
// }

// #how-it-works p.main-text  {
//   color: $dark-brown;
//   font-weight: 800;
//   margin: 0px;
// }

// #how-it-works p.secondary-text  {
//   color: $light-brown;
//   margin-top: 2px;
// }

.icon-arrow {
  padding-top: 25px;
  max-width: 50%
}
.col.hit {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;

  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col.hit.icon-arrow  {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 50%;

  position: relative;
  width: 50%;
  min-height: 1px;

}

#subscribe {
  background-color: #FDFCF1 !important;
}

.subscribe-text {
  padding: 0px 83px;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 2rem;
}

.btn-warning {
  border-radius: 3px !important;
  letter-spacing: 0.1rem;
  color: rgba(251, 247, 228, 0.9);

}

.btn-warning:hover {
  color: rgb(251, 247, 226);
}


#brewing .brewing-section {
  background-color: #FDFCF1;
}

#brewing .brewing-section h2{
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 2rem;
}

#brewing .brewing-section h5{
  font-family: 'Nunito Sans';
  font-weight: 300;
  font-size: 18px;
}

#brewing .img-fluid.brew-icons {
  max-width: 70%;
}

#brewing .link-brewing {
  color: $dark-brown;
  }

#brewing .link-brewing:hover {
    text-decoration: none;
    font-size: 1.1rem;
  }

#brewing-section .brewing-icon-section {
max-width: 25%
}

#footer-section {
  background-color: $dark-brown;
  color: rgba(251, 247, 228, 0.95);
  padding-top: 7rem;
  padding-bottom: 2rem;
}

#footer-section .footer-contact {
  margin-bottom: 4rem;
}

#footer-section .footer-follow {
   margin-bottom: 4rem;
}

#footer-section h3 {
  font-weight: 300;
  font-size: 18px;
}

#footer-section .footer-icons a {
  color: rgba(251, 247, 228, 0.95) !important;
}


#footer-section .fb-icon {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
}



#footer-section .contact-form {
  background-color: rgba(251, 247, 228, 0) !important;
  border-color: rgba(251, 247, 228, 0.95);
  color: rgba(251, 247, 228, 0.95) !important;
}

#footer-section .text-muted  {
  color: rgba(251, 247, 228, 0.55) !important;
}

#footer-section .copyright {
  color: #998D85;
  font-size: 0.9rem;
}

.wordCarousel {
    font-size: 36px;
    font-weight: 100;
    color: #939393;
    div {
        overflow: hidden;
        position: relative;
        float: right;
        height: 65px;
        padding-top: 10px;
        margin-top: -10px;

        ul {
          padding-inline-start: 10px !important;
        }
        li {

            color: #ccc;
            font-weight: 200;
            height: 45px;
            margin-bottom: 45px;
            display: block;
        }
    }
}

.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}



