<div id= 'about' class="container">
  <hr style="color:blue;" >
  <div class="row py-4 px-5 text-center">
     <div class="col-sm-12 col-md-12">
      <p><%= t(".about_text_1_html") %></p>
      <div class="about-img py-5 px-5">
        <%= image_tag "img_brava_camelia.jpg",  class:"d-block img-fluid" %>
      </div>

      <h3><strong>Brava coffee roasters</strong></h3>


       <q><%= t(".about_text_quote") %></q>
         <br>
        <br>
        <p><%= t(".about_text_2_html") %></p>
     </div>
  </div>
</div>
