<div id= 'about' class="container">
  <hr style="color:blue;" >
  <div class="row py-4 px-5 text-center">
     <div class="col-sm-12 col-md-12">
      <p>
        For over 20 years, Joana and Susana have been involved in the world of restaurants and bars in Lisbon, always looking for the balance between the multiple inspirations they have been collecting on various trips, the experience of the city and what it can offer.
      </p>
      <p>
        It is in this combination of personal enrichment and the desire to materialize ideas that a new passion arises: coffee.
        <br>
        On the trips they took, Joana and Susana noticed and felt that coffee is much more than just a drink.  It is a testament to the countries and cultures from which it comes.  

      <div class="about-img py-5 px-5">
        <%= image_tag "brava_about.jpg",  class:"d-block img-fluid" %>
      </div>
      <p>
        In London and Australia, they visited several specialty coffee roasters and their passion quickly became a project:
      </p>
      <h3><strong> Brava coffee roasters </strong> </h3>

       <q>
         We believe that coffee is not a product, but an entire experience. 
        </q>
        <br>
        <br>
        <q>Going to drink a coffee</q>
        , has for us almost the same meaning as the word encounter.  A drink that presents itself in different ways, that gathers people around you, to talk and create bonds.  Drinking a specialty coffee takes this experience to another level, because a coffee of excellence tells a story, of community, culture, climate, time, dedication, involvement and passion 
      </p>
      <p>
        Brava is a micro roaster, born from the desire to find the perfect cup, without forgetting values ​​that are important to us, such as improving and preserving a healthy agricultural community, trying to incorporate sustainable, ethical and environmentally responsible practices whenever possible. 
        <br>
        Following strict principles in the choice of beans, we bring together those we believe to be the best coffees.  And through the roasting process, which obeys special care, we transform the characteristics of the grain, into unique sensations for the palate. 
      </p>

     </div>
  </div>
</div>
