<div id= 'brewing-section' class="container">
  <hr >

  <div class="row py-4">
    <div class="col-md-6">
      <div class="brewing-icon-header-section d-flex justify-content-center mb-4">

        <%= image_tag "french_press_symbol_negative.png",  class:"img-fluid brewing-icon-section mb-2" %>
        <h4 class="align-self-center">French press</h4>

      </div>
      <div class="brewing-text px-3">
        <p>
          1- Grind the coffee beans coarsely (think of breadcrumbs), for each 300gr of water, use 22 gr of coffee.
          <br>

          2 - Heat the coffee maker with hot water, gradually so as not to break the glass. The infusion temperature drops quickly if the French press is cold. This, in addition to preventing the coffee from getting lukewarm at the end.
            <br>
          3 - Remove the hot water and add the groud coffee
            <br>
          4 - Heat the water to around 96ยบ C. Pour the water and stir a few times.
            <br>
          5 - Close the lid and press the plunger down to the water level. Leave to infuse for 4 minutes.
            <br>
          6 - After 4 minutes, push the plunger all the way, with a slow movement.
            <br>
          7 - Enjoy your coffee

        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="brewing-icon-header-section d-flex justify-content-center mb-4">

          <%= image_tag "moca_symbol_negative.png",  class:"img-fluid brewing-icon-section mb-2" %>
          <h4 class="align-self-center">Mocha</h4>
      </div>
      <div class="brewing-text px-3">
        <p>
          1- Grind the coffee beans using a good grinder.
          <br>
          2- Fill the base of your mocha with hot water up to the line, or a little below. Never pass the signal.
           <br>
          3- Place the funnel in the boiler chamber (the base).
           <br>
          4- Fill the funnel filter loosely with coffee grounds without compacting. If you compact, the coffee will not rise in the collector chamber. Or it will go up very slowly and extract too much making it bitter.
           <br>
          5- Screw the upper chamber into the boiler
           <br>
          6- Place the mocha on the stove over low or medium heat. A gas stove is the best. The electric stove also works, but you will need to use a heat diffuser.
           <br>
          7- If you used hot water, after two minutes, the coffee will begin to flow. If you used cold water, wait 6 to 8 minutes until the upper reservoir is full.
           <br>
          8- When the coffee starts to flow in the upper part, immediately remove it from the heat. The residual heat will be sufficient to finish the infusion. Some people leave it on the stove until the coffee is almost completely prepared and then cool the base with cold water to stop the preparation.
           <br>
          9- Stir in the upper chamber with a spoon to mix the different layers of coffee to obtain a uniform flavor.
           <br>
          10- Pour into cups immediately and enjoy
        </p>
      </div>

    </div>
  </div>
    <h5 class= "text-center mt-4 pb-5">
          There is no correct way to prepare a cup of coffee.
          <br>This is just a suggestion for a starting point.
          <br>
          <br>
          There are so many variables at play when making a great cup of coffee - water, grind, equipment -
          <br>feel free to play with the weights and preparation times to get the perfect cup.
  </h5>
</div>

