<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

      <p><%= t(".mail_hello") %>, <%= @user.username %>!</p>
      <p><%= t(".mail_thanks_1_html")%></p>

    <p><%= image_tag "Brava_Logo.png", class: "logo-small-device", height: "50" %></p>
  </body>
</html>
