

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

#cart-icon .fa-shopping-cart {
  color: black;

}

#login-icon .link-style {
  color: black;
}

#navbarNav .brava-logo img {
      width: 160px;
}

#navbarNav .nav-link {
      color: $brown;
      font-family: 'Nunito Sans';
      font-weight: 700;
}
