#order-show .item_weight {
  font-weight: 100;
  font-size: 15px;
  margin-top: 2px;
  color: #D6D5CF;
}

#order-show .item_name {
  margin-bottom: 5px;
}

.order-index-titles {
  font-size: 1.2rem;
}
