.coffee_form {
  border: 1px solid #dcdcdc;
  margin-bottom: 10px;
}


#products-coffees .coffee-title h3 {
  font-weight: 300;
  font-size: 18px;
}

#products-coffees .coffee-choices h3 {
  font-weight: 300;
  font-size: 0.9rem;
  color: #998D85;
}

#products-coffees .coffee-title h2 {
  font-family: 'Nunito Sans';
  font-weight: 500;
  font-size: 30px;
  color: #998D85;
  }


.coffee-title {
  padding-left: 5rem;
  padding-top: 1.7rem;
}

#products-coffees .form-group {
  font-size: 0.8rem;
}

#products-coffees .form_displayed_price {
  font-size: 16px;
  padding-top: 12px;
}



.coffee-links {
  :hover {
    background-color: black;
  }
}
.coffee_description_text {
  padding: 0 10%;
}

.coffee_images_links {
  align-items: flex-end;

}

#a .card-img-overlay {
  padding: 0 !important;
}

@media screen and (max-width: 800px) {
  #flex-media {
    display:flex;
    flex-flow: column;
  }

  #a{order:2;}
  #b{
    order:1;
    margin-bottom: 2rem;
  }

}

