.coffee_form {
  border: 1px solid black;
}

#products-coffees {
  background-color: rgba(252,252,228,0.3);
}

.coffee-title {
  padding-left: 5rem;
}

#products-coffees .form-group {
  padding-right: 15rem !important;
}

.coffee-links {
  :hover {
    background-color: black;
  }
}
.coffee_description_text {
  padding: 0 10%;
}

.coffee_images_links {
  align-items: flex-end;

}

#a .card-img-overlay {
  padding: 0 !important;
}

@media screen and (max-width: 800px) {
  #flex-media {
    display:flex;
    flex-flow: column;
  }

  #a{order:2;}
  #b{
    order:1;
    margin-bottom: 2rem;
  }

}

.hidden_value {
  display: none;
}

