
#subscriptions .sub-card-text {
  font-weight: 100;
  font-size: 0.9rem;
  color: gray;
}

#subscriptions .sub-card-weight {
  margin-bottom: 0.3rem;
}

#subscriptions .sub-card-title {
  margin-bottom: 2rem;
}

// #subscriptions .card-price-adventure {
//   margin-bottom: 5.6rem;
// }

#subscriptions .sub-select-discover {
  margin-top: 2rem;
}

#subscriptions .sub-select-adventure {
  margin-top: 5rem;
}

#subscriptions .sub-index-title {
  font-weight: bold;
}
